@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  will-change: transform;
  backface-visibility: hidden;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #835a36 transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #835a36;
  border-radius: 20px;
}



@media (min-width: 601px) {
  body {
    background: #CBB89D;
    background-image: 
      repeating-linear-gradient(
        45deg,
        transparent,
        transparent 2px,
        rgba(109, 111, 76, 0.05) 2px,
        rgba(109, 111, 76, 0.05) 4px
      );
  }
}